
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Megrim|Sancreek');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

* {
    margin: 0;
    padding: 0;
}



header {
    padding: 8em 6em 2em 4em;
    text-align: center;
    background-size: 100%;
    
       }


body{
  
  font-family: 'Playfair Display', serif;
    
    color:#F4C022;

    background-color: #CFCCD6;
}

#main {
  width: 70%;
  margin: 0 auto;

}

#divider {
  padding-bottom: 100px;

}



.title {
    
    font-size: 75px;
    
font-family: 'Playfair Display', serif;

    color: #D37D58;
    line-height: 25px;
    text-align: center;
    margin-bottom:70px;
    font-weight: 900;
}


.h2{
   
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: Center;
  }

.pink {
     color: #3A0010;
     font-family: 'Ultra', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

 .h3{
    color:white;
    text-align: Center;
    font-size: 100px;
  }

.projects {
     color:#5D4566;
      font-family: 'Playfair Display', serif;
    text-transform: uppercase;

}
    
.projects1 {
     color:#5D4566;
      font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    padding-top: 100px;
}  
       


  a:hover {
     color: #FEFDFB;
    
    }

    a {
        color: #847979;
        text-decoration: none;
        font-size: 100px;
    }