@import url('https://fonts.googleapis.com/css?family=Arvo|Cabin+Condensed');
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



body { 
padding: 50px;
background-color: white;
font-family: 'Josefin Slab', serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
	margin: 0px auto ;
	text-align: center;
	font-size: 70px;

}




#date {
	column-span: all;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    text-align: center;
   	padding-top: 10px;
   
}

.header {
	column-span: all;
	text-transform: uppercase;
	margin-bottom: 20px;
	cursor: cell;


}

/* HEADER statechange */

	.headerChange {
	column-span: all;
	letter-spacing: -120px;
	line-height: 5px;
	position: absolute;
	width: 100vw;
	height: -100vw;
	cursor: cell;
	}

/* HEADER ANIMATION */

	.headerChange:hover {
	    transform: skewX(20deg);
	    box-shadow: none;
	}


.container {
	width: 100%;
	
}



/* column #1 */

.column1 {
	width: 33%;
	box-sizing: border-box;
	
	display: inline-block;
	float: left;

}


.article1 {
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	margin-top: 10px;
	cursor: cell;
}

/* ARTICLE 1 statechange */
		.article1change {

			width: 100vw;
			height: 100px;
			position: absolute;
		    left: -20px;
		    cursor: cell;
		}

/* ARTICLE 1 animation */
			.article1change {
			      animation-name: slideOutUp;
			}


			@-webkit-keyframes slideOutUp {
			  from {
			    -webkit-transform: translate3d(0, 0, 0);
			    transform: translate3d(0, 0, 0);
			  }

			  to {
			    visibility: hidden;
			    -webkit-transform: translate3d(0, -500%, 0);
			    transform: translate3d(0, -500%, 0);
			  }
			}

			.article1change:active {
			  -webkit-animation: slideOutUp 1s infinite linear;
			}



.article2 {
	column-width: 8em;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	cursor: cell; }

/* ARTICLE 2 statechange */

	.article2change {
		width: 300px;
		position: absolute;
	    left: -20px;
	    cursor: cell;
	}



.article3 {
	column-width: 8em;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	left: -20px;
	cursor: cell;}

/* ARTICLE 3 statechange */

	.article3change {
		width: 20vw;
		height: 100vw;
		border-radius: 50px;
		position: absolute;
	    left: -50px;
	    cursor: cell;
	}



.article4 {
	column-width: 8em;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	cursor: cell;}

/* statechange */

	.article4change {
		margin-top: -300px;
		left: -50px;
		position: absolute;
		cursor: cell;
	}


.article5 {
	
	margin-bottom: 30px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	margin-top: 10px;
	cursor: cell;
}

	.article5change {
		margin-top: -300px;
		height: 100vw;
		position: absolute;
		cursor: cell;
	}

.article6 {
	
	margin-bottom: 30px;
	padding-right: 10px;
	margin-top: 10px;
	cursor: cell;

}

/* column #2 */


.column2 {
	width: 33%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

.article21 {
	margin-top: -20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 21 statechange */

	.article21change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	}



.article22 {
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 22 statechange */

	.article22change{
	position: absolute;
	width: 100vw;
	margin-left: -2000px;
	cursor: cell;
	}

.article23 {
	padding-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 23 animation */

	.article23change :active {
	        transform: rotate(180deg);
	        cursor: pointer;
	        box-shadow: none;
	}

	.article23change :active:after {
	        transform: rotate(180deg);
	}

/* ARTICLE 23 statechange */

	.article23change{
	position: absolute;
	width: 100vw;
	argin-left: -1200px;
	cursor: cell;
	}

.article24 {
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 24 statechange */

	.article24change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -200px;
	}


.article25 {
	margin-top: 20px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 25 statechange */

	.article25change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	}


/* column #3 */


.column3 {
	width: 33%;
	box-sizing: border-box;
	float:left;
	display: inline-block;
}


.article31 {
	margin-top: -20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;

	cursor: cell;

}

/* ARTICLE 31 statechange */

	.article31change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -500px;
	}


.article32 {
	column-width: 8em;
	margin-top: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;

	cursor: cell;

}

/* ARTICLE 32 statechange */

	.article32change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -1000px;
	}

.article33 {
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;

	cursor: cell;

}

/* ARTICLE 33 statechange */

	.article33change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -1200px;
	}

.article34 {
	margin-top: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 34 statechange */

	.article34change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -1800px;
	}


.article35 {
	margin-top: 20px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: cell;

}

/* ARTICLE 35 statechange */

	.article35change{
	position: absolute;
	width: 100vw;
	cursor: cell;
	margin-left: -2000px;
	}


*, *:before, *:after {
  box-sizing: border-box;
}



h3 {
	margin-top: -5px;
}

/* wider text*/

img {
	width: 90%

}

.imageBox{
	padding-top: 30px;
}


img.blur {
	width: 100%
    filter:invert(100%);
}


