
@import url('https://fonts.googleapis.com/css?family=Sancreek');
@import url('https://fonts.googleapis.com/css?family=Megrim|Sancreek');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Ultra');
@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');


* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #9E9516;
}

body{
  background-color: #D81E5B;
  font-family: 'Cherry Swash', cursive;
    
    color:#F4C022;
}


.row {
   margin:0 auto; 
   display:inline-block;
   text-align:center;
   vertical-align: top;
    
}

.row_1 {
   margin:0 auto; 
   display:inline-block;
   text-align:center;
   vertical-align: top;
    display:inline-block;
    
    
}

.row_2 {
   margin:0 auto; 
   display:block;
   text-align:center;
   vertical-align: top;
    display:inline-block;
    
}

.col_1 {
    box-sizing:border-box;
    display:inline-block;
    text-align:Center;
    float: left;
    padding:5em;
    width: 50%;
}
    
.col_2 {
    box-sizing:border-box;
    display:inline-block;
    text-align:Center;
    float: left;
    padding:5em;
    width: 30%;
}


header {
    padding: 8em 4em 2em 4em;
    text-align: Left;
    
       }

.title {
    text-transform: uppercase;
    font-size: 17em;
    
   font-family: 'Sancreek', cursive;
    color:#3A0010;
}


.h2{
   
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: Center;
  }

.pink {
     color: #3A0010;
     font-family: 'Ultra', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

 .h3{
    color:white;
    text-align: Center;
  }

.projects {
     color:#3A0010;
      font-family: 'Ultra', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    

}
  a:hover {
     color: #FEFDFB;
    
    }

    a {
        color: #F4C022;
        text-decoration: none;
        font-size: 1em;
    }