body{
    background: #c3c7c8;
}

#circles_1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    clear: both;
    
}


#circles_1 div {
    height: 20vw;
    width: 20vw;
    
    display:block;
    border-radius: 50%;
    float: left;
    margin: -2vw;
  background: linear-gradient(-90deg, #017ebe, #064360);
     opacity: .5;
   
}


#diamond {
    width: 100vw;
    height: 100vh;
    position: relative;
    opacity: .5;
    display:block;
    float: left;
}


    
#diamond div{
    
    height: 6vw;
    width: 6vw;
    
    display:block;
    background-color: #ff5380;
    float: left;
    margin: 5vw;
     transform:rotate(45deg);
}
