
@import url('https://fonts.googleapis.com/css?family=Domine');

body {
	height:1200px;
	cursor:hand;
}
h1{
	margin-top:100px;
	font-family: 'Domine', serif;
	position: fixed;

}
.container {
	height:30000px;
	overflow-y: scroll;
	overflow: hidden;
}
.slide {
	top:100px;
	margin: 20px;
	position: fixed;
}
.container > .show-slide {
	opacity:1;
}

.hide-slide {

	opacity: 0;
	transition: opacity .5s;
}
